.gallery{
    min-height: 100vh;
    background-color: #ffe92f;  
    padding: 113px 0;
    position: relative;
 }
 
 .gallery-text{
    text-align: center;
 }
 
 .gallery-text h2{
    font-size: 9rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #000000;
 }
 
 .gallery-text p{
    line-height: 1.6;
    max-width: 630px;
    display: block;
    margin: 50px auto;
    color: #000000;
 }
 
 .gallery-images {
    padding-bottom: 50px;
 }
 
 .small-size {
    width: 100%;
    height: 100%;
    max-height: 260px;
    margin-bottom: 30px;
    overflow: hidden;
    margin-left: 0;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
 }
 
 .big-width {
     max-height: 550px;
 }
 
 .gallery img {
     height: 100%;
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
 }
 
 .button {
     background-color: #5585a2;
     margin-bottom: 120px;
     text-align: center;
     cursor: pointer;
     margin: 0 auto;
     box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .5);
 }
 
 .button:hover {
     transform: scale(1.1);
 }
 
 .gallery-button {
     line-height: 55px;
     text-transform: uppercase;
     text-decoration: none;
     color: #fff;
     font-size: 20px;
 }