@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400;700&display=swap');

// fonts
$raleway: 'Raleway', sans-serif;
$pacifico: 'Pacifico', cursive;

// colors

$white: #fff;
$black: #000;
$lgray: #b07cf7;