@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'columns';
@import 'header';
@import 'menu';
@import 'about';
@import 'services';
@import 'gallery';
@import 'subscribe';
@import 'blog';
@import 'footer';

*{
   box-sizing: border-box;
}

a, button{
   transition: all .3s ease-in;
}

html{
   scroll-behavior: smooth;
   font-size: 10px;
   height: 100%;
}

body, html {
   min-height: 100%;
   width: 100%;
}

.clear::after, 
.clear::before, 
.row::after, 
.row::before {
   content: " ";
   display: table;
}

.clear::after,
.row::after {
   clear: both;
}

img {
   max-width: 100%;
   height: auto;
}

.hidden {
   display: none;
}

.row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px
}

body{
    font-family: $raleway;
	font-size: 1.7rem;
    font-weight: 300;
    line-height: 27px;
    min-width: 650px;
    width: 100%;
	background-color: $lgray;
}

.container{
   max-width: 1200px;
   padding: 0 15px;
}

.wrapper {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}